<meta charset="utf-8"><style class="fallback">body{visibility:hidden;}</style>

                        **Morgan McGuire**
                        morgan@casual-effects.com
                        https://casual-effects.com


Experience
===================================================

2017–Present
: *Director of Hyperscale Graphics Systems Research at NVIDIA*, Toronto ON
: <br>_Visiting Professor 2009; Distinguished Scientist 2017; Director 2019_

<!-- 
: <br>I research algorithms, processors, and displays for creating new 
: experiences through GPU accelerated computation. I target application domains of
: augmented and virtual reality, ray tracing, machine learning, and eSports. -->


2006–2019
: *Professor of Computer Science at Williams College*, Williamstown MA
: <br>_Assistant Prof. 2006, Tenured Associate Prof. 2012, Full Prof. 2018_
<!--
: <br> I taught courses, advised students, and performed research on computer science 
: and film & media studies. See also courses, students, publications,
: and committee positions listed below. -->


2002–2006
: *Graphics Industry Consultant*, Waltham MA
: <br>Projects included contributions to:
: + *Activision*: visual effects for the *_Skylanders_*, *_Marvel Ultimate Alliance_*
:   and *_Call of Duty_* game series
: + *Iron Lore*: *_Titan Quest_* game series
: + *_ROBLOX_* game
: + *E&nbsp;Ink*: display for the *Amazon* Kindle and other e-readers
: + *PeakStream*: high-performance computing GPU compiler acquired by *Google* 
: + *Unity*: visual effects of motion blur, depth of field, ambient occlusion, and screen-space ray tracing
: + *BAE Systems*: GPU-accelerated *drone* path-planning


2000–2002
: *Senior Architect at Oculus Technology*, Boston MA
<!-- 
: <br/>I designed and implemented client-side and plug-in APIs in 
: Java for peer-to-peer connectivity software for engineering
: tools including AutoCAD, SolidWorks, ProEngineer, Matlab, and PTC. I created a
: visual programming environment for a networked compiler. -->


1998–2000
: *Senior Graphics Architect at Curl*, Cambridge MA
<!-- 
: <br>I designed the graphics systems and parts of the compiler for
: Curl, a web-based language for interactive content. I helped grow the 
: company from an MIT lab 13-employee startup to $500M valuation and acquisition. -->

I hold adjunct appointments in the School of Computer Science in the
Department of Mathematics at the *University of Waterloo* (Waterloo, ON
since 2017) and the Electrical and Computer Engineering department at
*McGill University* (Montreal, QC since 2018).

Early in my career, I held internships at IBM Research, NEC Research, and the
Mitsubishi Electric Research Laboratory.


Education
===================================================================

Ph.D. (2006)
: *Brown University* Computer Science 
: <br>Thesis: _Computational Videography with a Single-Axis, Multi-Parameter Lens Camera_
: <br>Advisor: John F. Hughes

Sc.M. (2003)
: *Brown University* Computer Science
: <br>Thesis: _Fast Shadow Volumes on Graphics Hardware_
: <br>Advisor: John F. Hughes

M.Eng. (2000)
: *MIT* Computer Science and Electrical Engineering
: <br>Thesis: _The Curl 2D Immediate Mode Graphics API_
: <br>Advisor: Stephen S. Ward

B.S. (2000)
: *MIT* Electrical Engineering and Computer Science


Publications
===============================================================

Research
---------------------------------------------------------------

For research papers, posters, exhibits, and book chapters, please see the annotated bibliography
at https://casual-effects.com/index.html#research

Books
---------------------------------------------------------------

+ [*The Graphics Codex*](http://graphicscodex.com/)
  <br>M. McGuire
  <br>Apple and Amazon 2012, revised editions 2013-2019

+ [*Ray Tracing Gems*](http://www.realtimerendering.com/raytracinggems/)
  <br>edited by E. Haines and T. Akenine-Möller, section editors C. Wyman, I. Wald, P. Shirley, A. Keller, J. Munkberg, M. McGuire, and M. Pharr
  <br>Apress, March 2019

+ [*Computer Graphics: Principles and Practice, 3rd Edition*](http://dept.cs.williams.edu/~morgan/cgpp/about.xml)
  <br>J. F. Hughes, A. van Dam, M. McGuire, D. Sklar, K. Akeley, J. Foley, S. Feiner
  <br>Addison-Wesley, 2013

+ [*Creating Games: Technology, Mechanics, and Content*](https://www.cs.williams.edu/~morgan/creatinggames/)
  <br>M. McGuire and O. C. Jenkins
  <br>A K Peters, Newton, MA, December 2008


Special Journal Issues
---------------------------------------------------------------------

+ *ACM Queue Special Section on Computational Photography*
  <br>M. McGuire and J. Hayes, editors
  <br>The Association for Computing Machinery, June 2012

+ *Proceedings of NPAR 2010: ACM SIGGRAPH Symposium on Non-Photorealistic Animation and Rendering*
  <br>M. McGuire and J. Collomosse, editors
  <br>The Association for Computing Machinery, June 2010

+ *IEEE TVCG Special Section on the Symposium on Interactive 3D Graphics and Games*
  <br>M. McGuire and E. Haines, editors
  <br>IEEE Transactions on Visualization and Computer Graphics
  <br>Volume 16, no. 5, Sept/Oct 2010

+ *Proceedings of I3D 2009: ACM SIGGRAPH Symposium on Interactive 3D Graphics and Games*
  <br>E. Haines and M. McGuire, editors
  <br>The Association for Computing Machinery, February 2009




US Patents
---------------------------------------------------------------

+ *Photon-based image illumination rendering*
   <br>McGuire, Crassin, Luebke, Mara, Oster, Shirley, Sloan, Wyman, US16894438, October 1, 2020
+ *Foveated display for augmented reality*
   <br>Kim, Jeong, Stengel, McGuire, Luebke, US Application 16428713, September 24, 2020
+ *Image illumination rendering system and method*
   <br>McGuire, Luebke, Crassin, Sloan, Shirley, Oster, Wyman, Mara, US10713838, July 14, 2020
+ *Computational blur for varifocal displays*
   <br>McGuire, Kaan Aksit, Pete Shirley, David Luebke, US10699383, June 30, 2020
+ *Path planning for virtual reality locomotion*
   <br>Sun, Patney, Shapira, McGuire, Lefohn, Luebke, US10573071, February 25, 2020
+ *Saccadic redirection for virtual reality locomotion*
   <br>Sun, Patney, Shapira, McGuire, Lefohn, Luebke, US10573061, February 25, 2020 
+ *Adding greater realism to a computer-generated image by smoothing jagged edges*
   <br>Marrs, Spjut, Gruen, McGuire, Sathe, US Application 16363927, October 17, 2019
+ *Adding greater realism to a computer-generated image by smoothing jagged edges within the image in an efficient manner*
   <br>Gruen, Marrs, Spjut, Sathe, McGuire, US Application 16363941, October 17, 2019
+  *System and method for generating temporally stable hashed values*
   <br>Wyman and McGuire, US10417813, September 17, 2019
+  *Saccadic redirection for virtual reality locomotion* (pending)
   <br>Sun, Patney, Shapira, McGuire, Lefohn, and Luebke, June 29, 2018
+  *Path planning for virtual reality locomotion* (pending)
  <br>Sun, Patney, Shapira, McGuire, Lefohn, Eliot, Luebke, January 10, 2018
+  *Systems, method, and computer program product for computing indirect lighting in a cloud computer network*
  <br>McGuire, Crassin, Luebke, Mara, Oster, Shirley, Sloan, Wyman
  <br>US10008034, June 26, 2018
+  *System and method for generating temporally stable hashed values* (pending)
  <br>Wyman and McGuire
  <br>Application 20180158233, June 7, 2018
+  *Setting downstream render state in an upstream shader*
  <br>Kilgariff, McGuire, Uralksy, and Hakura
  <br>US9547931, January 17, 2017
+  *System, method, and computer program product for pre-filtered antialiasing with deferred shading*
  <br>Crassin, McGuire, Lefohn, and Luebke
  <br>US9547931, January 17, 2017
+  *System, method, and computer program product for tiled deferred shading*
  <br>McGuire, Mara, Luebke, and Pantaleoni
  <br>US9305324, April 5, 2016
+  *System, method, and computer program product for sampling a hierarchical depth map*
  <br>McGuire, Luebke, Mara
  <br>US9111393, August 18, 2015
+  *System, method, and computer program product for reducing noise in an image using depth-based sweeping over image samples*
  <br>Shirley, Aila, Cohen, Enderton, Laine, McGuire, and Luebke 
  <br>US8842931, September 23, 2014
+  *Application Program Interface of a Parallel-Processing Computer System that Supports Multiple Programming Languages*
  <br>McGuire, Demetriou, Grant, and Papakipos
  <br>US8745603, June 3, 2014
+  *Systems and Methods for Compiling an Application for a Parallel-Processing Computer System*
  <br>Papakipos, Grant, Demetriou, and McGuire
  <br>US8584106, Nov 12, 2013
+  *Systems and Methods for Determining Compute Kernels for an Application in a Parallel-Processing Computer System*
  <br>Papakipos, Grant, McGuire, and Demetriou 
  <br>US8443349, Feb 9, 2012
+  *Method for image matting*
  <br>Durand, Hughes, Matusik, McGuire, and Pfister, 
  <br>US7599555, October 6, 2009
+  *System and method for defocus difference matting*
  <br>Matusik and McGuire
  <br>US7408591, August 5, 2008
+  *Application program interface of a parallel-processor computer system that supports multiple programming languages*
  <br>McGuire, Demetriou, Grant, and Papakipos 
  <br>US8443349, Mar 5, 2007
+  *Apparatus and method for acquiring and combining images of a scene with multiple optical characteristics at multiple resolutions*
  <br>Matusik, McGuire, and Pfister
  <br>US20060221209 A1, October 5, 2006
+  *System and method for compile-time checking of units*
  <br>McGuire and Hotstetter
  <br>US 6598186 B1, July 22, 2003
+  *Image Registration Method*
  <br>McGuire
  <br>US 6266452 B2, July 24, 2001
  


Invited Talks
---------------------------------------------------------------

+  *New Experiences and New Realities*
   <br>MOTOGRAPH 2019 Keynote, Waterloo ON, December 6, 2019
   <br>Montreal SIGGRAPH Chapter meeting, Montreal QC, November 13, 2019
+  *Ray Tracing a Procedural Tiny Planet*
   <br>University of Waterloo, Waterloo ON, October 2019
+  *Rays are Great* 
   <br>Activision Studio Summit, San Francisco CA, March 2019
+  *Dynamic Diffuse Global Illumination* 
   <br>GPU Technology Conference, San Jose CA, March 2019
   <br>Game Developers Conference, San Francisco CA, March 2019
+  *Cloud XR: Challenges and Strategies in Streaming XR Over 5G*
   <br>Morgan McGuire (moderator), Mohammad Khalid, John Benko, James Li, Alisha Seam, Tero Rissa
   <br>Panel at the GPU Technology Conference, San Jose CA, March 2019
+  *Generative Models for Computer Graphics*
   <br>Keynote at the Vector Institute for Artificial Intelligence, Toronto ON, January 23, 2019
+  *Undergraduate Research Opportunities*
   <br>Panel at the University of Waterloo, Waterloo ON, September 29, 2018
+  *The Hybrid Ray + Raster Roadmap*
   <br>SIGGRAPH 2018 NVIDIA Sponsored Session, Vancouver BC, August 2018
+  *NVIDIA Research Real-Time Ray-Tracing*
   <br>SIGGRAPH 2018 NVIDIA Sponsored Session, Vancouver BC, August 2018
+  *The Reality of Augmented Reality*
   <br>Graphics Interface keynote, Toronto ON, May 2018
+  *The Ray + Raster Era Begins: An R&D Roadmap for the Game Industry*
   <br>Morgan McGuire and Petrik Clarberg
   <br>Game Developers Conference, San Francisco CA, March 2018
+  *Realistic 3D Graphics in Real Time*
   <br>University of Toronto, Toronto ON, December 14, 2017
   <br>University of Waterloo, Waterloo ON, December 6, 2017
+  *Visual Effects in Games*
   <br>University of Waterloo, Waterloo ON, November 23, 2017
+  *The Virtual Frontier: Computer Graphics Challenges in Virtual Reality*
   <br>ACM SIGGRAPH, July 31, 2017
   <br>GPU Technology Conference San Jose, San Jose CA, May 9, 2017
   <br>GPU Technology Conference Europe, Munich Germany, October 17, 2017
+  *Irradiance and Light Field Probes with Visibility*
   <br>Game Developers Conference, San Francisco CA, March 2, 2017
+  *Virtual Reality*
   <br>WAMC Albany National Public Radio, December 29, 2016
+  *Phenomenological Transparency*
   <br>Dartmouth College, Dartmouth NH, October 5, 2016
   <br>University of Pennsylvania, Philadelphia Pennsylvania, November 30, 2016
+  *CS + X: Cross-campus Collaborations*
   <br>SIGGRAPH 2016, July 24
+  *Film and Media Studies*
   <br>Taylor University, April 19, 2016
+  *Virtual Reality: The Actuality of Total Cinema*
   <br>Williams College Faculty Lecture Series, Williamstown MA, March 10, 2016
+  *Ex Machina*
   <br>Morgan McGuire and Shawn Rosenheim
   <br>Images Cinema, Williamstown MA, May 28, 2015
+  *Elegance in Video Game Design*
   <br>Union College, Schenectady NY, April 29, 2015
+  *Vicarious Visions’ Making of Skylanders: SWAP Force*
   <br>Williams College, July 2014
   <br>Brown University, Providence RI, April 30, 2014
   <br>University of Montreal, Montreal Quebec, February 27, 2014
   <br>Union College, Schenectady NY, February 19, 2014
+  *Efficient Parallel Simulation of Indirect Illumination*
   <br>University of Montreal, February 26, 2014
+  *The Augmented Artist: Computation & Content Creation*
   <br>Banquet keynote at the ACM SIGGRAPH Symposium on Interactive 3D Graphics and Games (I3D’13), March 22, 2013
+  *Ambient Occlusion*
   <br>Inria Saclay – Île-de-France at École Polytechnique, Orsay, France, June 29, 2012
+  *Reimagining the Textbook in the Age of the Tablet*
   <br>Tufts University, Medford MA, March 29, 2012
+  *Safe Games and Human Computation*
   <br>Gaudino forum talk at Williams College, Williamstown MA, February 21, 2012
+  *Final Scattering*
   <br>Cornell University, Ithaca NY, August 2, 2011
+  *Computation for Visual Communication*
   <br>Harvard University, Cambridge MA, December 1, 2010
+  *A New Analytic Solution for the Ambient Occlusion Problem*
   <br>University of Toronto, Toronto, Ontario, Canada, July 15, 2010
   <br>University of Iowa, Iowa City, IA, November 19, 2010
+  *Real-Time Stochastic Rasterization*
   <br>University of Waterloo, Waterloo, Ontario, Canada, July 13, 2010
   <br>Dartmouth College, Hanover, NH, TBD, 2011
+  *Image Space Photon Mapping*
   <br>Rensselaer Polytechnic Institute, Troy, NY, Dec. 3, 2009
   <br>University of Massachusetts at Amherst, Amherst, MA, Nov. 17, 2009
   <br>University of Pittsburgh, Pittsburgh, PA, Feb. 16, 2010
   <br>University of Maryland-Baltimore County, Baltimore, MD, Feb. 18, 2010
   <br>University of Maryland, College Park, MD, Feb. 22, 2010
+  *Indirection Mapping*
   <br>Brown University, Providence, RI, April 25, 2008
+  *Open Source Toolchains*
   <br>ACM SIGGRAPH Video Game Symposium Panel, 2007
+  *Efficient Content Creation*
   <br>Vicarious Visions, Albany, NY, June 11, 2007
+  *Real-Time Rendering of Cartoon Smoke and Clouds*
   <br>Union College, Schenectady, NY, May 24, 2007
+  *Innovative Computer Input Devices*
   <br>Bennington College, Bennington VT, May 14, 2007
+  *Hardware-Accelerated Machine Vision*
   <br>BAE Systems, Burlington, MA, Feb. 16, 2007
+  *Scalable Technology for the Ultimate Virtual Construction Toy*
   <br>D. Baszucki, E. Cassel, and M. McGuire
   <br>Stanford University, Stanford, CA, May. 18, 2006
+  *Mechanism Design for Fun and Profit*
   <br>Stanford University, Stanford, CA, Apr. 18, 2006
+  *Methods for Multi-Sensor Matting*
   <br>Ricoh, Palo Alto, CA March 28, 2006
   <br>Hewlett-Packard, Palo Alto, CA, March 27, 2006
+  *Separating Foreground from Background*
   <br>Williams College, Williamstown, MA, Feb. 13, 2006
   <br>Northeastern University, Boston, MA, Feb. 17, 2006
   <br>University of California at Santa Cruz, Santa Cruz, CA, Feb. 24, 2006
+  *New Results in Video Game Research*
   <br>University of Massachusetts at Dartmouth, North Dartmouth, MA, Sept 24, 2004
+  *Contours and Constants: Bounding NPR Rendering Time*
   <br>MIT, Cambridge, MA, Aug 2004
+  *Terrain Rendering*
   <br>Harvard Extension School, Cambridge, MA, May 2004
+  *MacVicar Panel on Education*
   <br>MIT, Cambridge, MA, Feb 10, 1998
+  *The LASER Computer Graphics Language*
   <br>NEC USA, Princeton, NJ, Aug 1996
+  *Principles of User Interface Design*
   <br>NEC USA, Princeton, NJ, Aug 1995


Open Source
===================================================================

I manage, design, and code for open-source projects hosted at 
https://morgan3d.github.io, and the major projects:

[Markdeep](https://casual-effects.com/markdeep) Document System
: Client-side *Markdown* processor in *JavaScript* with support for calendars,
: diagrams, mathematics, and presentation slides powering
: technical specifications, documentation, and blogs. Since 2015.

[G3D](https://casual-effects.com/g3d) Innovation Engine
: Cross-platform 3D graphics engine in *C++* for *rasterization*,
: *ray-tracing*, and *cloud rendering*. Powers research, student projets,
: and games industry prototyping. Since 2000.

[Quadplay](https://github.com/morgan3d/quadplay) Fantasy Console
: Four-player retro 2D game console for teaching game design, hobbyist programming, 
: and game jams. Implemented in *JavaScript* for PC, mobile, Raspberry Pi, 
: and Jetson Nano. Since 2018.


Teaching
===================================================================

Semester Courses
-------------------------------------------------------------------

+ *Computational Graphics* (CSCI 371) at Williams College in 2007, 2008, 2010, 2012, 2014, 2016
+ *Film and Media Studies: An Introduction* (COMP258) with Profs. Rosenheim and Mladenovic at Williams College in 2016
+ *Cinematography in the Digital Age* (CSCI205 + ARTH205 + ENGL203) with Prof. Rosenheim at Williams College in 2016
+ *Visual Media Revolution* (CSCI 372T) at Williams College in 2015
+ *Creating Games* (CSCI 107 + ARTS 107) at Williams College in 2007, 2011, 2012, 2013, 2015, 2017
+ *Digital Computation and Communication* (CSCI 134) with Prof. Murtagh and other co-instructors at Williams College in 2006, 2007, 2011
+ *Data Structures and Advanced Programming* (CSCI 136) at Williams College in 2008, 2011 (x2), 2012, 2014, 2015, 2016, 2017
+ *Principles of Programming Languages* (CSCI 334) at Williams College in 2009
+ *Interactive Computer Graphics* (CS 224) at Brown University in 2004


Independent Studies
------------------------------------------------------------------

+ *Machine Learning and Generative Visual Art* with Profs. Kaplan and Carson at the University of Waterloo in 2019
+ *Bidirectional Reflectance Distribution Functions* (in the Physics department) with Prof. Lopes at Williams College in 2014
+ *Computational Game Design* (CS) at Williams College in 2008
+ *Computational Game Design* (CS) at Williams College in 2007
+ *Player Game Interaction* (CS) at Williams College in 2006
+ *Game Development* (CS) at Brown University in 2003


Short Courses
------------------------------------------------------------------

+ *Ray Tracing: Are We Done Yet?* at SIGRAPH 2019
+ *Introduction to Real-Time Ray Tracing* at SIGRAPH 2019
+ *Advances in Real-Time Rendering for 3D Graphics and Games* at SIGRAPH 2018
+ *Open Problems in Real-Time: Transparency* at SIGRAPH 2016
+ *Master Class on Virtual Reality* at Activision in 2016
+ *Advances in Real-Time Rendering for 3D Graphics and Games* at SIGRAPH 2012
+ *Filtering Approaches for Real-Time Antialiasing* at SIGRAPH 2011
+ *Stylized Rendering in Games* at SIGRAPH 2010


Advisees
------------------------------------------------------------------

Undergraduate theses advised at Williams:

Student                       | Notes
------------------------------|----------------------------------------
Alexander Majercik '17		  | *Version control thesis*, Voxel ray tracing --> NVIDIA
Jamie Lesser '17              | *Path tracing thesis*, ACM Student Research Winner, CRA Undergraduate Award Runner Up --> Apple
Sam Donow '16                 | *Light field optimization thesis* --> Hudson River Trading Company
Daniel&nbsp;Evangelakos&nbsp;'15  | *Light field rendering thesis* --> Google
Michael Mara '12		      | *Cloud graphics thesis* -->  NVIDA --> Stanford Ph.D. --> Oculus

I coadvised the Aspect Oriented Shading Masters thesis of George Stathis at the Harvard Extension School
in 2005 with Prof. Pfister, which won the best thesis award across all departments. 

I served on the committee for Radiosity Ph.D. thesis committee for
Yu Sheng at RPI in 2010 with his advisor Prof. Cutler.


Research Assistants
--------------------------------------------------------------------

I have a strong record for mentoring undergraduate researchers through
publication coauthorship and job placement. W = Williams, B = Brown
University.

Student                       | Notes
------------------------------|----------------------------------------
Melanie&nbsp;Subbiah&nbsp;W'17| Computer graphics --> Apple
K. Yitong Tseo W'17		      | Web management --> Facebook
R. Kenny Jones W'17		      | Immediate mode GUIs --> Facebook
Kelly Wang W'16		          | Cinematography
Guedis Cardenas W'15          | Computer graphics benchmark datasets
Chuan Ji W'12			      | Mobile graphics --> Google
Zina Cignolle W'11		      | Geometry compression --> Amazon Research
Kefei Lei W'10                |	BRDF capture thesis --> Brown M.Sc. --> Activision
Kyle Whitson W'09		      | Real-time rendering --> Microsoft
Danny Huang W'11	          | Video matting --> UCSD Ph.D. 
Alena Allegretti W'11		  | Video Matting --> Suki LLC web development 
Bartley Tablante W'07 	      | Video matting --> Michigan Ph.D. --> Keystone
Jeff Marsceill W'08		      | Computational game design
Sara Carian W'08		      | Computational game design
Sean Hayes W'08 		      | HCI
Eric Muller W'09		      | Real-Time Rendering
Sean Barker W'09	      	  | Collaborative document editing -->  UMass Ph.D. --> Wellesley Prof.
Kathleen Creel W'10    		  | Intelligent Energy Conservation --> U. Pittsburgh Ph.D.
Daniel Fast W'10 	          | 3D Modeling --> Cartoon Network game designer
Andrea Fein B'04              |	Stylized real-time rendering --> Brown M.Sc. --> Microsoft DirectX Group
Pawel Wrotek B'06             | Displacement mapping --> Electronic Arts 
Colin Hartnett B'05           | Stylized real-time rendering --> CMU M.Sc.
Ethan Bromberg-Martin 'B05    | Level of detail --> Brown Ph.D. --> Washington University Prof.
Alex Rice B'06                | Displacement mapping --> Demiurge Studios --> Boston Dynamics
Kevin Egan B'03               |	Real-time rendering --> Rhythm & Hues --> Columbia Ph.D. --> D.E. Shaw



Service
==================================================================

Professional Leadership
------------------------------------------------------------------

- EGSR'21 Technical Papers Co-chair (with Adrien Bousseau)
- I3D'19 Technical Papers Co-chair (with Derek Nowrouzezahrai)
- I3D'18 Conference Co-chair (with Derek Nowrouzezahrai)
- HPG'17 Conference Co-chair (with Anjul Patney)
- JCGT Advisory Board (2015-present)
- JCGT founding Editor-in-chief (2012-2015)
- Graphics domain expert for the 2013 ACM/IEEE Computing Curricula Steering Committee
- jgt Editor-in-Chief (2011-2012)
- jgt Editorial board (2008-2011)
- NPAR'10 Co-chair (with John Collomosse)
- HPG'09 Keynote Session Chair
- I3D'09 Technical Papers Co-chair (with Eric Haines)
- I3D'08 Conference Co-chair (with Eric Haines)
- I3D'07 Publicity Chair
- I3D'06 Local Arrangements Chair
- I3D'05 Poster Session Co-chair (with Jason Lawrence)


Program Committees and Reviewing
-----------------------------------------------------------------
- ACM Transactions on Graphics, SIGGRAPH, & SIGGRAPH Asia (annually since 2003)
- ACM SIGGRAPH I3D (annually since 2003, except 2010)
- ACM SIGGRAPH/Eurographics High Performance Graphics (annually since 2009)
- ACM SIGGRAPH 2017 Unified Jury
- Eurographics (annually since 2005, except 2007)
- Eurographics Symposium on Rendering (intermittently since 2005)
- ACM SIGGRAPH NPAR (2002-2010)
- IEEE Transactions on Broadcasting (2011)
- IEEE Visualization (2011)
- Graphics Interface (2007)
- Discrete and Computational Geometry (2007)
- IEEE Transactions on Visualization and Computer Graphics (intermittently since 2003)
- IEEE Transactions on Image Processing (intermittently 2000-2005)
- jgt (intermittently 2005-2010)
- - A K Peters books (2005-2011)
- IJIG 2009
- ICIG 2004


University Service 
-------------------------------------------------------------------

At Williams College:
- 2016		Intellectual property committee
- 2015, 2016, 2017 Theatre and dance planning committee
- 2015, 2016	College faculty interview committee 
- 2012, 2014	Faculty lecture series committee 
- 2011		Art museum director search committee
- 2010-2012	Committee on priorities and resources
- 2008-2012	Art museum advisory committee
- 2008		Bookstore committee
- 2007		Rare books committee

<!--
Awards and Fellowships (best paper awards were listed above with publications):
- 2008		ACM Recognition of Service Award
- 2006		Brown University Sigma Xi Outstanding Graduate Student Award
- 2004		1st place ACM SIGGRAPH Student Research Competition
- 2004 		NVIDIA International Ph.D. Fellowship
- 2003 		NVIDIA International Ph.D. Fellowship
- 2002 		Andy van Dam Fellowship
- 1994		Hitachi America Scholarship
- 1994		U.S. Department of the Navy Science Award
-->


<style>dt { width: 110px; font-family: arial} dd { padding-bottom: 1px } 
.md h1:before, .md h2:before { content: none }
.md ul li.plus { list-style-type: none; margin-left: -40px; padding-bottom: 10px}
.md table.table { margin-left: -15px; padding-bottom: 20px }
.md table.table tr { vertical-align: top }
.md table.table th { color: #000; background: none; border: none; padding-bottom: 2px }
.md table.table tr:nth-child(even) { background: none }
.md table.table td { background: none; border: none; padding-bottom: 0px; padding-top: 2px }
.md table {page-break-inside: auto}
em.asterisk { font-style: normal; font-weight: bold }</style>
<script>markdeepOptions = {definitionStyle:'short', tocStyle:'short'}</script>

<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js"></script><script src="https://casual-effects.com/markdeep/latest/markdeep.min.js?"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script>
